.bg-grey {
    background: #2f1c41;
 }
.logo-footer {
    margin-bottom: 40px;
 }
 footer {
     margin-top: 50px;
    color: #fff;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: #fff;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: #fff;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
.btn-footer:hover {
            
            text-decoration: none;
           
}

.social .logo a{
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
    max-width: 30px;
}
.social .logo img{
    filter: invert(1);
    padding-right: 15px;
    max-width: 40px;
}
.social .logo img:hover{
    padding-right: 15px;
    max-width: 45px;
}
.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid goldenrod;
height: 100%;
}
